@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Esta app(dominio) no esta configurada en el Allowed Origins de mi api en azure (No respeto la configuracion cors a nivel de codigo. solo lo de azure, es decir, 
        si habilito cors en codigo pero en azure no. No me deja acceder desde ningun lado.</p>
</div>
